
.Team{
    margin-top: 3rem;
}
.TeamSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
    border: 1px solid gray;
    border-radius: 2rem;
    background-image: url("https://scontent.fcai19-6.fna.fbcdn.net/v/t1.15752-9/372165214_622578979996861_6221465436537748411_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=z-wqEaKdf78AX-bYRzA&_nc_ht=scontent.fcai19-6.fna&oh=03_AdQSs7aw1K5a0wEIJ0ieOI9BHdngjIwWWV6qOWM04kb_rg&oe=65146F1D");}
.TeamSection img{
    width:100%;
    height: 18rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;


}
.TeamSection p{
    font-family:Sofia,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
    margin-left: 2rem;
    font-weight: 500;
    width: 90%;
    color: white;

}
.TeamMember{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -1.6rem;
    margin-left: 3rem;

}
.TeamMember img{
    width: 20rem;
    margin-bottom: -5rem;
    margin-left: -3rem;
}
.TeamName{
    color: navy;
    font-family:Berkshire Swash, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: -2.5rem;
    text-align: center;
}