@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.cover{
	width: 800px;
	background: white;
	margin: 0 auto 25px auto;
	display: flex;
 
}

.ResumeForm{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
  color: #2c3e50;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}
.li_wrap{
	display: flex;
	margin-bottom: 1rem;
  margin-top: -2rem;
}
.currentJob {
  padding: 0;
  width: 5%;
}

.left{
	background:#292b2f;
	width: 300px;
  height: 1000px;
	padding: 0 20px;
}

.right{
	width:100%;
}

.left .img_holder{
	padding: 5px 2px;
  margin-top: 1rem;
}


.imageClass {
    background-position: center;
    height: 200px;
    color:#00b7ff;
    background-size: cover;
    background-repeat: no-repeat;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.title{
  margin-top: -0.1rem;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	position: relative;
	text-align: left;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	left: 0;
	width: 160px;
	height: 3px;
	background: #057bf1;
}

.left .icon{
	font-size: 20px;
	color: #53a8c9;
}
 .text{
	color: #ffffff;
	font-size: 12px;
  margin-left: 75px;
  margin-top:-17px;
  word-wrap: break-word;
}

.contact {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;

}
.contact li
{
  margin-top: 20px;
  margin-left: -10px;

}

 .header{
	background: #292b2f;
	padding: 15px 30px;
	color: #1b99e2;
	height: 150px;
  width:493px;
 }


.header .name{
	font-size: 2rem;
	text-transform: uppercase;
  margin-top:20px;
  text-align: center;
	font-weight: 700;
}

.header .role{
	font-weight: 300;
  margin-top: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
  color:#05d1ec;
  align-items: center;
}

.form-group{
    margin: 10px;
    width: 80%;
}

.submitWrap {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 98%;
    border: solid 1px #eee;
    padding: 15px 10px;
}
.submit{
    width: 200px;
    padding: 15px;
    color: navy;
    border: 0.05rem solid;
    border-radius: 5rem;
    cursor: pointer;
    transition: all .38s ease-in-out;
    font-family:Bad Script, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

.submit:hover{
    background:navy;
    color: white;
    border: none;
}

.collapsible {
    background-color: #4077ad;
    color: white;
    cursor: pointer;
    padding: 18px;
    width:100%;
    border: none;
    border-radius: 5rem;
    text-align: left;
    outline: none;
    font-size: 1.65rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family:Bad Script, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .active, .collapsible:hover {
    background-color: navy;
  }

  .marginBottom {
      margin-bottom: 20px;
  }
  
.content {
      padding: 0 18px;
      width: 100%;
      display: none;
      flex-direction: column;
      overflow: hidden;
      background-color: #f1f1f1;
      align-items: center;
      padding: 20px;
  }

.download {
	  display: flex;
	  justify-content: space-between;
    width:100%;
    margin: 10rem 0 2rem 0;
  }

.generateNew {
  padding: 15px;
  color: white;
  border: none;
  border-radius: 20rem;
  background-color: #4077ad;
  cursor: pointer;
  font-family:Bad Script, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.65rem;
  margin: 3rem 3rem 3rem 3rem;
  }

.generateNew:hover{
  background: navy;
  color: white;
  border: none;
}

.ResumeComp{
  display: flex;
  flex-direction: column;

}

.Buttonn{
  padding: 15px;
  color: white;
  border: none;
  border-radius: 20rem;
  background-color: #4077ad;
  cursor: pointer;
}

.Buttonn:hover{
  background: navy;
  color: white;
  border: none;
}

.Skills{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
 
}
.workExp{
  display:flex;
  flex-direction: column;

}

.ResumeHead{
  margin-top: 15rem;
  font-family: Aclonica,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: White;
  font-size: 5rem;
  text-align: center;
}

.ResumeDetails{
    background-image:url("https://th.bing.com/th/id/R.f218e4064c3cca1c562e56b10d7ad406?rik=mXu%2fRW5Q5D2N4Q&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f04%2fBlue-simple-wallpaper-nackgrounds-download.jpg&ehk=cmjUMBBlPx2x0nW9TpdoxK88a%2bdHPljL7d7Gaxuur5A%3d&risl=&pid=ImgRaw&r=0");
    background-repeat:no-repeat;
    border-radius: 20px;
    margin-bottom: 2rem;
    width:100%;
    height:100vh;
}

.addDeleteButton
{
  padding: 15px;
  color: white;
  border: none;
  border-radius: 20rem;
  background-color: #4077ad;
  cursor: pointer;
  transition: all .38s ease-in-out;
  font-family:Bad Script, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addDeleteButton:hover
{
  background: navy;
  color: white;
  border: none;
}

.wrapper{
  border-radius: 20px;
  margin-bottom: 2rem;
  width:100%;
  align-items: center;
  align-self:center;
  align-content: center;
}

.ResumeText{
  font-size: 0.7rem;
  font-family:Verdana, sans-serif;
  margin-top: 0.7rem;
  margin-left: 2rem;
	font-weight:400;
	text-transform:none;
	letter-spacing: 0.1rem;
	position: relative;
	text-align: left;
	margin-bottom: -1rem;
  word-wrap: break-word;
}

.Gridd{
  display: grid;
}