@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.cover{
	width: 800px;
	background: #fff;
	margin: 0 auto 25px auto;
	display: flex;
}

.CoverForm{
    background: #fff;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

@media screen and (max-width:848px){ 
    .CoverForm { 
        width: initial;
    }} 

.left{
	background:#292b2f;
	width: 300px;
  height: 1000px;
	padding: 0 20px;
}

.right{
	width:100%;
}

.left .img_holder{
	padding: 5px 2px;
}

.imageClass {
    background-position: center;
    height: 200px;
    box-shadow: 5px 5px 10px;
    color:#00b7ff;
    background-size: cover;
    background-repeat: no-repeat;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
  margin-top:100px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	position: relative;
	text-align: left;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	left: 0;
	width: 160px;
	height: 3px;
	background: #057bf1;
}

.left .icon{
	font-size: 20px;
	color: #53a8c9;
}
 .text{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
  margin-left: 75px;
  margin-top:-17px;
}

.contact {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;

}
.contact li
{
  margin-top: 20px;
  margin-left: -30px;

}

 .header{
	background: #292b2f;
	padding: 15px 30px;
	color: #1b99e2;
	height: 150px;
  width:500px;
 }


.header .name{
	font-size: 40px;
	text-transform: uppercase;
  margin-top:20px;
  text-align: center;
	font-weight: 700;
}

.header .role{
	font-weight: 300;
  margin-top: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
  color:#05d1ec;
  align-items: center;
}

.about{
	margin-top: 30px;
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
	line-height: 26px;
    color:#04d5e4;
    width:510px;
    word-wrap: break-word
}
.Intro1 
{
    margin-top: 30px;
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
	  line-height: 26px;
    color:#000000;
    width:510px;
    word-wrap: break-word
}
.Detail1 
{
    margin-top: 35px;
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
	line-height: 26px;
    color:#000000;
    width:510px;
    word-wrap: break-word

}
.Conc1
{
    margin-top: 40px;
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
	  line-height: 26px;
    color:#000000;
    width:510px;
    word-wrap: break-word
}


.form-group{
    margin: 10px;
    width: 80%;
}

.submitWrap {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 98%;
    border: solid 1px #eee;
    padding: 15px 10px;
}
.submit{
    width: 200px;
    padding: 15px;
    color: rgb(10, 135, 238);
    border: none;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    transition: all .38s ease-in-out;
}

.submit:hover{
    background: rgb(0, 0, 0);
    color: rgb(224, 248, 5);
    border: none;
    box-shadow: 5px 5px 10px;
}

.collapsible {
    background-color: #4077ad;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 870px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .active, .collapsible:hover {
    background-color: navy;
  }

  .marginBottom {
      margin-bottom: 20px;
  }
  
.content {
      padding: 0 18px;
      width: 100%;
      display: none;
      flex-direction: column;
      overflow: hidden;
      background-color: #f1f1f1;
      align-items: center;
      padding: 20px;
  }

.download {
	display: flex;
	justify-content: space-between;
    margin: 20px 0 25px 0;
  }

.generateNew {
	  width: 200px;
    padding: 15px;
    color: black;
    border: none;
    background-color: #53a8c9;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    transition: all .38s ease-in-out;
  }

.generateNew:hover{
    background: rgb(217, 255, 2);
    color: black;
    border: none;
    box-shadow: 5px 5px 10px;
}


.CoverHead{
  margin-top: 15rem;
  font-family: Aclonica,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: White;
  font-size: 5rem;
  text-align: center;
}

.CoverDetails{
  background-image:url("https://th.bing.com/th/id/R.f218e4064c3cca1c562e56b10d7ad406?rik=mXu%2fRW5Q5D2N4Q&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f04%2fBlue-simple-wallpaper-nackgrounds-download.jpg&ehk=cmjUMBBlPx2x0nW9TpdoxK88a%2bdHPljL7d7Gaxuur5A%3d&risl=&pid=ImgRaw&r=0");
  background-repeat:no-repeat;
  border-radius: 20px;
  margin-bottom: 2rem;
  width:100%;
  height:100vh;
}

.imgwrap{
  display: flex;
  flex-direction: column;
}